body{
    display: flex;
    flex-direction: column;

}
/*Header Part*/
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: #E5E7EB;
    text-decoration: none;
}

.logo{
    margin-left: 10%;
    font-size: 24px;
}

.links{
    margin-right: 10%;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    

}

/*Section 1*/
.section1{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
}

.left_side{
    margin-left: 10%;
    display: flex;
    flex-direction: column;

}

.left_side button{
    background-color: #3882F6;
    width: 80px;
    height: 30px;
}

.main_text{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.secondary_text{
    font-size: 18px;
    color: #F9FAF8;
}


.right_side img{
  height: 200px;
  width: 200px;
  
}

/*Section 2*/
.section2{
    display: flex;
    flex-direction: column;
}

.top{
    display: flex;
    justify-content: center;
}

.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;


}

.img1 img{
    border: 5px solid #3882F6;
    height: 80px;
    width: 80px;
}
.img1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/*Section 3*/

.section3{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    font-family: 36px light italic #1F2937;
}

.quote{
    margin-left: 20%;
    margin-right: 20%;
    font-size: 36px;
    font-family: light italic;
    color:#1F2937
}

.quoteAuthor{
    display: flex;
    font-weight: bold;
    flex-direction: column;
    align-items: end;
    
    margin-right: 23%;
}

/*Section 4*/

.action_section{
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    color: #E5E7EB;
    margin: 20px;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.action_right button{
    background-color: #3882F6;
    width: 80px;
    height: 30px;
    border: 2px solid #E5E7EB;
    color: #E5E7EB;
}

/*Footer*/
footer{
    background-color: #1F2937;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}