body{
    display: flex;
    flex-direction: column;
}
/*Header Part*/
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: #E5E7EB;
    text-decoration: none;
}

.logo{
    font-size: 24px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;

}

/*Section 1*/
.section1{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
}

.left_side{
    display: flex;
    flex-direction: column;

}

.left_side button{
    background-color: #3882F6;
    width: 80px;
    height: 30px;
}

.main_text{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.secondary_text{
    font-size: 18px;
    color: #F9FAF8;
}


.right_side img{
  height: 200px;
  width: 200px;
}